body {
	color:silver;
	font-family:Calibri;
	background-color:#4d4d4d;
}

h2 {
	font-weight:600;
	font-size:20pt;
}

#heading {background-color:black;}

#navbar {background-color:#ff4d4d; width:20%}

#content {background-color:#e6f2ff;color:darkblue;}


#navbar a:link , a:visited, a:active {
    color: #4d4d4d;
	font-weight:600;
	font-size:12pt;
	padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

#navbar a:hover {
    background-color: #cc0000;
	color: silver;
}

#navbar ul {color:#ff4d4d;}